@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
header a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}
